/* var 1c75bc::after */

* {
  padding: 0px;
  border: 0px;
  margin: 0px;
  /* outline: 1px solid red; */
  /* para debugear algunos errores de over-scroll  */
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}
.wrapper {
  background-color: black;
  /* outline: 1px solid red; */
}

.button-navabar {
  border: none;
  background-color: transparent;
  transform: scale(1);
}

.button-navabar:active {
  transform: scale(1.2);
}

.main-title-header {
  font-family: "Bebas Neue", cursive;
  font-size: 100px;
  margin: auto;
  text-align: center;
}

.header-class {
  /* border: 5px solid red; */
  width: 100%;
}
.header-img-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header-img {
  width: 60%;
}

.profile-animation-item {
  padding: 0px;
  margin: 0px;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  /* font-size: auto; */
}

.title-profile-container {
  display: flex;
  justify-content: start;
}

.profile-animation-list-container {
  display: block;
  overflow: hidden;
  height: 60px;
  width: auto;
  list-style-type: none;
}

.profile-animation-list {
  display: block;
  padding: 0%;
  margin: 0%;
  list-style-type: none;
  text-align: center;
}
.header-class {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.info_card {
  font-family: "IBM Plex Mono", monospace;
  font-size: smaller;
  margin: auto;
}

.main_profile {
  margin: auto;
}

/* stilo de los ladrillos con los elementos de las aptitudes */

.brick-bg {
  background-image: url("../imagenes/SVG/jb-logo.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.brick-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.brick-container {
  padding: 0;
  margin: 0;
}

.brick {
  backface-visibility: hidden;
  width: 100%;
  font-family: "IBM Plex Mono", monospace;
  background-color: rgb(250, 247, 242);
  justify-content: start;
  padding: 0;
  margin: 0px;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  transition-property:transform;
  transition-duration: 0.1s;
  transition-timing-function:cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-delay:3s;
  transform-style: preserve-3d;
}

.brick-box-inner:is(:active) .brick{
  transform: rotateX(180deg) translateY(-100px);
  transition-delay: 0s
}

.brick-box-inner {
  padding: 0;
  margin: 0;
  display: block;
}

.brick-front,
.brick-back {
  width: 100%;
  height: 100%;
}

.col-contour {
  padding: 0px;
}

/* Estilos para las tarjetas de formacion */
.progress-card-title {
  font-family: "IBM Plex Mono", monospace;
  font-size: smaller;
  color: white;
  padding: 0px;
  margin: 0px;
}

.progress-card {
  background-color: black;
  border-style: solid;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.shadow {
  border-radius: 20px;
  box-shadow: 6px 6px 20px 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 6px 6px 20px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 6px 6px 20px 1px rgba(0, 0, 0, 0.6);
}

.back_ground_main_profile {
  background-image: url("../imagenes/SVG/back_ground_main_profile.svg");
  background-color: white;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment:fixed; */
}

.main_icon {
  width: 50px;
  height: 50px;
}

.collapse_icon {
  width: 50px;
  height: 50px;
}

.box-left {
  background-color: whitesmoke;
  margin-right: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 2% 2% 2% 20%;
  transition: 0.7s ease-in-out all;
  opacity: 0;
  transform: translateX(10%);
  box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.6) inset;
}

.box-left-visible {
  opacity: 1;
  transform: translateX(0);
}

.box-left-title {
  text-align: center;
  margin: 0px;
}
.box-left-title-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
}

.box-right-title {
  padding: 0;
  margin: 0;
  text-align: center;
  margin: 0px;
}

.box-right-title-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.box-right {
  background-color: whitesmoke;
  margin-left: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 2% 20% 2% 2%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  opacity: 0;
  transform: translateX(-10%);
  transition: 0.7s ease-in-out all;
  box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.6) inset;
}

.box-right-visible {
  opacity: 1;
  transform: translateX(0);
}

/* offset de la tarjeta con informacion personal */

.progress-bar-color {
  background-color: rgb(28, 117, 188);
}

.card-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.card-img-invisible {
  width: 130px;
  transform: scale(0);
  transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
}

.card-img-visible {
  transform: scale(1);
}

footer {
  justify-content: center;
  background-color: rgb(28, 117, 188);
  padding: 0%;
  display: block;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 80px 10px;
}
.title-contact-form {
  padding: 10px 0px 0px 0px;
  font-size: 25px;
  font-family: "IBM Plex Mono", monospace;
}

.field-email-form {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: transparent(40%) whitesmoke;
  border: 2px solid whitesmoke;
}

.field-message-form {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: 2px solid whitesmoke;
}
.button-submit {
  margin: 10px 0px 10px 0px;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
}

.footer-contact-icons-container {
  /* flex-wrap: wrap; */
  justify-content: center;
  display: flex;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.6) inset;
}
.footer-contact-icons {
  padding: 10px;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.footer-contact-icons:hover {
  transform: scale(1.2);
}

.footer-derechos-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  margin: 50px 0px 0px 20px;
  border-radius: 5px;
}
.footer-derechos-icon-jere {
  height: 50px;
}

.footer-derechos-text {
  font-size: medium;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  padding: 0%;
  margin: 0%;
}

@media (min-width: 992px) {
  .off-set {
    margin-top: -80px;
  }
  .box-left-title {
    text-align: start;
    margin: 0px;
  }
  .box-left-title-wrapper {
    display: flex;
    justify-content: start;
    margin: auto;
  }

  .box-right-title {
    padding: 0;
    margin: 0;
  }

  .box-right-title-wrapper {
    justify-content: end;
    margin: auto;
  }

  .main-title-header {
    font-family: "Bebas Neue", cursive;
    font-size: 150px;
    padding: 0% 30%;
    text-align: start;
  }

  .progress-card-title {
    font-family: "IBM Plex Mono", monospace;
    font-size: larger;
    color: white;
    padding: 0px;
    margin: 0px;
  }

  .profile-animation-item {
    padding-left: 30%;
    font-family: "Bebas Neue", cursive;
    font-size: 50px;
    text-align: start;
  }

  .profile-animation-list-container {
    text-align: start;
    display: flex;
    justify-content: start;
    overflow: hidden;
    height: 60px;
    width: auto;
    list-style-type: none;
  }

  .profile-animation-list {
    width: 100%;
    display: block;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    text-align: center;
  }
  .info_card {
    font-family: "IBM Plex Mono", monospace;
    font-size: large;
    margin: auto;
  }

  .brick-bg {
    background-image: url("../imagenes/SVG/jb-logo.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .brick-box-inner:hover .brick{
    transform: rotateX(180deg) translateY(-100px);
    transition-delay: 0s
  }

  .button-navabar {
    display: none;
  }
}
