h1
{
    background-color: beige;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;

}

nav
{
    align-content: center;

}

@keyframes leftSlide {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);

    }
}
.box-left
{
    background-color: whitesmoke;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    border:1pt;
    animation: leftSlide 1s ease 0s 1 normal forwards;
}
.box-right
{
    background-color: whitesmoke;
    margin-left: 20%;
    padding: 50px;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
}

